.contact__container h3 {
    text-align: center;
    margin-bottom: 3rem;
}

.contact__body {
    display: flex;
    justify-content: center;
    gap: 6rem;
}

.contact__items {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact__item {
    background-image: url('../../src/assets/cardback.jpg');
    background-size: cover;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
    border-radius: var(--border-radius-2);
    color: var(--color-white);
    text-align: center;
}

.contact__item span {
    color: var(--color_warning);
    font-size: 1.5rem;
    font-weight: 600;
}

.contact__item a {
    color: var(--color_success);
}

.contact__item a:hover {
    color: var(--color-white);
}






.contact__right {
    width: 50%;
}

.contact__right form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact__right-input {
    display: flex;
    flex-direction: column;
    gap: 0.3rem
}

.contact__right-input label{
    color: var(--color_dark_gray);
    font-size: 0.875rem;
}

.contact__right-input input,
.contact__right-input textarea {
    width: 100%;
    padding: 0.75rem 1rem;
    border: 1px solid rgb(139, 139, 139);
    outline: 0;
    border-radius: 0.6rem;
    font-size: 1rem;
}

.contact__right-input input:focus,
.contact__right-input textarea:focus {
    outline: 2px solid var(--color__background);
    outline-offset: 0.125rem;
}

.contact__right .primary {
    background: var(--color__background);
    color: var(--color-white);
    padding: 0.6rem 1rem;
    margin-top: 1rem;
}

.contact__right .primary:hover {
    background: transparent;
    color: var(--color__background);
    border: 1px solid var(--color__background);
}














@media screen and (max-width: 600px) {
    
    .contact__body {
        flex-direction: column;
        gap: 3rem;
    }

    .contact__right {
        width: 100%;
    }
}