.card {
    background: var(--color__background);
    background-image: url(../src/assets/cardback.jpg);
    background-size: cover;
    padding: 1rem;
    border-radius: var(--border-radius-2);
    border: 2px solid transparent;
    transition: var(--transition);
} 

.card:hover {
    /* background: transparent;
    border-color: var(--color-white); */
    transform: translateY(-0.5rem);
}

.card.light {
    background: var(--color-light);
}

.card.light:hover {
    border-color: var(--color-light);
    background: transparent;
}

@media  screen and (max-width: 600px) {
    .card {
        padding: 1.2rem;
    }
}