.portfolio__btn {
    padding: 0.6rem 2.3rem;
    border: none;
    border-radius: var(--border-radius-2);
    background: var(--color-white);
    color: var(--color-black);
    cursor: pointer;
    transition: var(--transition);
}