header {
    margin-top: 5rem;
    height: calc(100vh - 5rem);
    display: grid;
    place-items: center;
    background: var(--color__background);
    background-image: url(../../src/assets/blueback.jpg);
    background-size: cover;
    transition: var(--transition);
}

.header__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.header__profile {
    width: 14rem;
    height: 18rem;
    border-radius: 9rem 9rem 2rem 2rem;
    overflow: hidden;
    margin-bottom: 1.5rem;
}

.header__container h3 {
    color: var(--color_warning);
}

.header__container p {
    width: 35rem;
    text-align: center;
    margin: 0.6rem 0 2rem;
    color: var(--color-white);
}

.header__cta {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.header__socials {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.header__socials a {
    width: 1.9rem;
    aspect-ratio: 1/1;
    background: var(--color-light);
    color: var(--color-white);
    display: grid;
    place-items: center;
    border-radius: var(--border-radius-3);
    font-size: 1.2rem;
    opacity: 0.6;
}

.header__socials a:first-child {
    background-color: var(--color_danger);
}

.header__socials a:nth-child(2) {
    background-color: var(--color_sky);
}

.header__socials a:nth-child(3) {
    background-color: black;
}

.header__socials a:last-child {
    background-color: var(--color_success);
}

.header__socials a:hover {
    /* background: var(--color-primary);
    color: var(--color-white); */
    transform: scale(1.5);
    opacity: 1;
}

@media screen and (max-width: 1024px) {
    header {
        margin-top: 0.6rem;
        height: 100vh;
    }
}

@media screen and (max-width: 600px) {
    header {
        margin-top: 0rem;
    }
    
    .header__profile {
        width: 13rem;
        height: 16rem;
        max-width: 60%;
        max-height: 35vh;
    }

    .header__container p {
        width: 100%;
        margin: 0.6rem 0 1rem;
        font-size: 0.85rem;
    }

    .header__cta {
        gap: 1rem;
        font-size: 0.85rem;
    }

    .header__socials {
        flex-direction: row;
        position: static;
        margin-top: 1.5rem;
        gap: 0.5rem;
        /* left: 50%; */
        /* transform: translateX(-50%); */
    }
}
