.portfolio__container h3, .portfolio__container p {
    text-align: center;
}

.portfolio__container p {
    margin: 1rem auto 4rem;
    max-width: 40rem;
}

.portfolio__buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.portfolio__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
}

.portfolio__item {
    background: var(--color__background);
    background-image: url(../../src/assets/portfolioback.jpg);
    background-size: cover;
    padding: 0.6rem 0.6rem 1.5rem;
    /* border-radius: var(--border-radius-3); */
    box-shadow: var(--box-shadow);
    transition: var(--transition);
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.portfolio__item:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 15px black;
}

.portfolio__item-image {
    width: 100%;
    overflow: hidden;
}

.portfolio__item h5 {
    color: var(--color_warning);
    margin-bottom: 0.5rem;
}

.portfolio__item small {
    font-size: 0.8rem;
    color: var(--color-light);
    margin: 0 0.6rem;
    display: inline-block;
}

.portfolio__item-cta {
    margin-top: auto;
    display: flex;
    gap: 1rem;
    justify-content: center;
    font-size: small;
}

.portfolio__item-cta a {
    padding: 0.3rem 1rem;
    border-radius: var(--border-radius-3);
    border: 1px solid transparent;
    background: var(--color-white);
    color: var(--color-black);
    cursor: pointer;
    transition: var(--transition);
    font-weight: 500;
}

.portfolio__item-cta a:nth-child(2) {
    background: var(--color_warning);
}

.portfolio__item-cta a:hover,
.portfolio__item-cta a:nth-child(2):hover {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    box-shadow: 0 0 15px black;
}


