footer {
    padding: 3rem 0;
    background-image: url('../../src/assets/blueback.jpg');
    transition: var(--transition);
    height: 60dvh;
    display: grid;
    place-items: center;
}

.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.footer__logo {
    width: 13rem;
}

.footer__menu {
    display: flex;
    gap: 2rem;
}

.footer__menu a:hover {
    color: var(--color_success);
}

.footer__socials {
    display: flex;
    gap: 1rem;
}

.footer__socials a {
    width: 1.9rem;
    aspect-ratio: 1/1;
    background: var(--color-light);
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-3);
    font-size: 1.2rem;
    opacity: 0.6;
}

.footer__socials a:first-child {
    background-color: var(--color_sky);
}

.footer__socials a:nth-child(2) {
    background-color: black;
}

.footer__socials a:last-child {
    background-color: var(--color_success);
}

.footer__socials a:hover {
    transform: scale(1.5);
    opacity: 1;
}

.footer__container p {
    color: var(--color_warning);
}








@media screen and (max-width: 600px) {
    footer {
        height: 80dvh;
    }

    .footer__menu {
        flex-direction: column;
        text-align: center;
    }
}
