nav {
    width: 100vw;
    height: 5rem;
    display: grid;
    place-items: center;
    background: var(--color-primary);
    background-image: url(../../src/assets/headerback.jpg);
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    box-shadow: 0 0.1rem 0.7rem black;
    transition: var(--transition);
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    width: 8rem;
    /* border-radius: 50%; */
    overflow: hidden;
}

.nav__menu {
    display: flex;
    gap: 3.5rem;
    font-size: 0.85rem;
}

#theme__icon {
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--color_warning);
    background-color: transparent;
}

@media screen and (max-width: 1024px) {
    .nav__menu {
        display: none;
    }
    
}

@media screen and (max-width: 1024px) {
    nav {
        height: 4rem;
    }

    .nav__logo {
        width: 6rem;
    }
    
}








